<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:include="common/header :: common-header"></head>

<body>
	<nav th:replace="common/navbar :: navbar"></nav>

	<div class="container" th:inline="text">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">My Profile</h3>
					</div>
					<div class="panel-body">
							<div class="form-group">
								<label>Email</label>
								[[${user.email}]]
							</div>
							<div class="form-group">
								<label>Firstname</label>
								[[${user.firstname == null ? '--' : user.firstname}]]
							</div>
							<div class="form-group">
								<label>Lastname</label>
								[[${user.lastname == null ? '--' : user.lastname}]]
							</div>
							<div class="form-group">
								<label>Company</label>
								[[${user.company == null ? '--' : user.company}]]
							</div>
							<div class="form-group">
								<label>About</label>
								[[${user.about == null ? '--' : user.about}]]
							</div>
							<div class="form-group">
								<label>Technos</label>
								[[${user.shamefulTechnologie == null ? '--' : user.shamefulTechnologie}]]
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-6">
									<a th:href="@{/profile/edit}" class="btn btn-default btn-lg btn-block">Edit</a>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						My Quickies
					</div>
					<div class="panel-body">
						<div th:each="quicky: ${quickies}" class="col-xs-12">
					        <span th:text="${quicky.title}" class="col-xs-3">Title</span>
					        <span th:text="${#calendars.format(quicky.submissionDate, 'yyyy-MM-dd HH:mm')}" class="col-xs-3">Date</span>
					        <span th:text="${quicky.location}" class="col-xs-3">Location</span>
					        
					        <a th:href="@{/quicky/{id}(id=${quicky.id})}" class="col-xs-3">
					        	<i class="fa fa-edit"></i> <span class="visible-sm">EDIT</span>
					        </a>
					      </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/footer :: common-footer"></div>
</body>
</html>