<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
	<head th:include="common/header :: common-header"></head>
<body>
	<nav th:replace="common/navbar :: navbar"></nav>

  	<div class="container">
  		<div class="row">
  			<div class="col-xs-12 col-md-8">
  				<div class="panel panel-default">
  				  <div class="panel-heading">
  				    <h3 class="panel-title text-center">My Profile</h3>
  				  </div>
  				  <div class="panel-body">
  				    <form class="form-horizontal" role="form" method="POST" th:action="@{/profile}">
  				      <input type="hidden" name="id" th:value="${user.id}"/>
  				      <div class="form-group">
  				        <label for="email" class="col-sm-2 control-label">Email</label>
  				        <div class="col-sm-10">
  				          <input type="email" class="form-control" name="email" placeholder="Email" th:value="${user.email}"/>
  				        </div>
  				      </div>
  				      <div class="form-group">
  				        <label for="firstname" class="col-sm-2 control-label">First Name</label>
  				        <div class="col-sm-10">
  				          <input type="text" class="form-control" name="firstname" placeholder="First name" th:value="${user.firstname}"/>
  				        </div>
  				      </div>
  				      <div class="form-group">
  				        <label for="lastname" class="col-sm-2 control-label">Last Name</label>
  				        <div class="col-sm-10">
  				          <input type="text" class="form-control" name="lastname" placeholder="Last name" th:value="${user.lastname}"/>
  				        </div>
  				      </div>
  				      <div class="form-group">
  				        <label for="company" class="col-sm-2 control-label">Current company</label>
  				        <div class="col-sm-10">
  				          <input type="text" class="form-control" name="company" placeholder="Current company" th:value="${user.company}"/>
  				        </div>
  				      </div>
  				      <div class="form-group">
  				        <label for="about" class="col-sm-2 control-label">About you</label>
  				        <div class="col-sm-10">
  				          <textarea class="form-control" rows="3" name="about" th:value="${user.about}"></textarea>
  				        </div>
  				      </div>
  				      <div class="form-group">
  				        <label for="shamefulTechnologie" class="col-sm-2 control-label">Shameful technos you like</label>
  				        <div class="col-sm-10">
  				          <textarea class="form-control" rows="3" name="shamefulTechnologie" th:value="${user.shamefulTechnologie}"></textarea>
  				        </div>
  				      </div>
  				      <div class="form-group">
  				        <div class="col-sm-offset-3 col-sm-6">
  				          <button type="submit" class="btn btn-default btn-lg btn-block">Save</button>
  				        </div>
  				      </div>
  				    </form>
  				  </div>
  				</div>
  			</div>

			<div class="col-xs-6 col-md-4">
				<div class="panel panel-default">
  				  <div class="panel-heading">
  				    <h3 class="panel-title text-center">Next Sessions</h3>
  				  </div>
  				  <div class="panel-body">
  				  	...
  				  </div>
  				</div>
			</div>

			<div class="col-xs-6 col-md-4">
				<div class="panel panel-default">
  				  <div class="panel-heading">
  				    <h3 class="panel-title text-center">Attended Sessions</h3>
  				  </div>
  				  <div class="panel-body">
  				  	...
  				  </div>
  				</div>
			</div>

  		</div>
  	</div>

	<div th:replace="common/footer :: common-footer"></div>
</body>
</html>