<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: common-header">
	<meta property="og:title" content="${quicky.title}" />
	<meta property="og:site_name" content="JUG Quicky Challenge"/>
	<meta property="og:url" content="http://sd-44145.dedibox.fr/quicky/${quicky.id}" />
</head>

<body>
	<nav th:replace="common/navbar :: navbar"></nav>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="panel-title text-center col-md-6" th:inline="text">
								[[${quicky.title}]]
							</div>
							<div class="col-md-2 col-xs-3 pull-right">
								<a th:href="@{/quicky/{id}/delete(id=${quicky.id})}" class="btn btn-danger btn-lg btn-block">
									<i class="fa fa-remove"></i>
								</a>
							</div>
							<div class="col-md-2 col-xs-3 pull-right">
								<a th:href="@{/quicky/{id}/edit(id=${quicky.id})}" class="btn btn-success btn-lg btn-block">
									<i class="fa fa-edit"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="form-group" th:inline="text">
							[[${quicky.description}]]
						</div>
						<div class="form-group" th:inline="text">
							[[${quicky.submissionDate}]]
						</div>
						<div class="form-group" th:inline="text">
							[[${quicky.usergroup}]]
						</div>
						<div class="form-group row">
							<div class="col-md-3 col-xs-4">
								<a th:href="@{/quicky/{id}/vote(id=${quicky.id})}" class="btn btn-default btn-lg btn-block">
									<i class="fa fa-thumbs-o-up"></i> Vote 
								</a>
							</div>
							<div class="col-md-3 col-xs-4">
								<a th:href="'https://www.facebook.com/sharer/sharer.php?u=http://sd-44145.dedibox.fr' + @{/quicky/{id}(id=${quicky.id})}" class="btn btn-default btn-lg btn-block">
									<i class="fa fa-facebook"></i> Share
								</a>
							</div>
							<div class="col-md-3 col-xs-4">
							
								<a th:href="'http://www.twitter.com/share?url=' + @{/quicky/{id}(id=${quicky.id}) } + '&amp;text=${quicky.title}'" class="btn btn-default btn-lg btn-block">
									<i class="fa fa-twitter"></i> Tweet
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/footer :: common-footer"></div>
</body>
</html>