<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
	<head th:include="common/header :: common-header"></head>
	
	<body>
		<nav th:replace="common/navbar :: navbar"></nav>
		<div class="container">
	  		<div class="row">
	  			<div class="col-xs-12 col-md-8">
	  				<div class="panel panel-default">
	  				  <div class="panel-heading">
	  				    <h3 class="panel-title text-center">Create a quicky</h3>
	  				  </div>
	  				  <div class="panel-body">
	  				  	<div th:if="${param.error}" th:inline="text">
	  				  		[[${param.error}]]
	  				  	</div>
	  				    <form class="form-horizontal" role="form" th:action="@{/quicky}" method="POST">
	  				      <div class="form-group">
	  				        <label for="title" class="col-sm-2 control-label">Title</label>
	  				        <div class="col-sm-10">
	  				          <input type="text" class="form-control" name="title" placeholder="Title" th:value="${quicky.title}"/>
	  				        </div>
	  				      </div>
	  				      <div class="form-group">
	  				        <label for="description" class="col-sm-2 control-label">Description</label>
	  				        <div class="col-sm-10">
	  				          <input type="text" class="form-control" name="description" placeholder="Description" th:value="${quicky.description}"/>
	  				        </div>
	  				      </div>
	  				      <div class="form-group">
	  				        <label for="submissionDate" class="col-sm-2 control-label">Date</label>
	  				        <div class="col-sm-10">
	  				          <input type="datetime-local" class="form-control" name="submissionDate" placeholder="Date" th:value="${quicky.submissionDate}"/>
	  				        </div>
	  				      </div>
	  				      <div class="form-group">
	  				        <label for="usergroup" class="col-sm-2 control-label">User Group</label>
	  				        <div class="col-sm-10">
	  				          <select class="form-control" name="usergroup" th:value="${quicky.usergroup}">
	  				          	<option value="">--</option>
	  				          	<option value="JUG">Java User Group</option>
	  				          	<option value="JSR">JS Romandie</option>
	  				          	<option value="NUG">.Net User Group</option>
	  				          	
	  				          </select>
	  				        </div>
	  				      </div>
	  				      <div class="form-group">
	  				        <div class="col-sm-offset-3 col-sm-6">
	  				          <button type="submit" class="btn btn-default btn-lg btn-block">Save</button>
	  				        </div>
	  				      </div>
	  				    </form>
	  				  </div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
		
		
		<div th:replace="common/footer :: common-footer"></div>
	</body>
</html>