<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header :: common-header">
	<meta property="og:title" content="${quicky.title}" />
	<meta property="og:site_name" content="JUG Quicky Challenge"/>
	<meta property="og:url" content="http://sd-44145.dedibox.fr/quicky/${quicky.id}" />
</head>

<body>
	<nav th:replace="common/navbar :: navbar"></nav>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="panel-title text-center col-sm-6" th:inline="text">
								[[${quicky.title}]]
							</div>
							<div class="col-md-2 col-xs-3 pull-right" th:if="${canEdit}">
								<a th:href="@{/quicky/{id}/delete(id=${quicky.id})}" class="btn btn-danger btn-lg btn-block">
									<i class="fa fa-remove"></i>
								</a>
							</div>
							<div class="col-md-2 col-xs-3 pull-right" th:if="${canEdit}">
								<a th:href="@{/quicky/{id}/edit(id=${quicky.id})}" class="btn btn-success btn-lg btn-block">
									<i class="fa fa-edit"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="form-group" th:inline="text">
							<label>Date</label>
							[[${#calendars.format(quicky.submissionDate, 'yyyy-MM-dd HH:mm')}]]
						</div>
						<div class="form-group" th:inline="text">
							<label>Location</label>
							[[${quicky.location}]]
						</div>
						<div class="form-group" th:inline="text">
							<label>Description</label>
							[[${quicky.description}]]
						</div>
						<div class="form-group" th:inline="text">
							<label>User group</label>
							[[${quicky.usergroup}]]
						</div>
						<div class="form-group row">
							<div class="col-md-3 col-xs-4">
								<a th:href="@{/quicky/{id}/vote(id=${quicky.id})}" th:class="'btn btn-default btn-lg btn-block '+ ${vote!= null ? 'disabled' : ''}" role="button">
									<i class="fa fa-thumbs-o-up"></i> Vote 
								</a>
							</div>
							<div class="col-md-3 col-xs-4">
								<a th:href="'https://www.facebook.com/sharer/sharer.php?u=http://sd-44145.dedibox.fr:8090' + @{/quicky/{id}(id=${quicky.id})}" class="btn btn-default btn-lg btn-block">
									<i class="fa fa-facebook"></i> Share
								</a>
							</div>
							<div class="col-md-3 col-xs-4">
								<a th:href="'http://www.twitter.com/share?url=http://sd-44145.dedibox.fr:8090' + @{/quicky/{id}(id=${quicky.id}) } + '&amp;text=%23UGQuickie%20%23ReadyAimFired%20' +${quicky.title}" target="_blank" class="btn btn-default btn-lg btn-block">
									<i class="fa fa-twitter"></i> Tweet
								</a>
							</div>
						</div>
						<div id="disqus_thread"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/footer :: common-footer"></div>
	
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'genevajug'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
</body>
</html>