<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
	<body th:fragment="common-footer">
		<div class="informations row">
			<div class="col-xs-6">
				<h1 class="text-center blue">Who are we</h1>
				<div class="col-xs-12 col-sm-6 text-center">
					Florian Genaudet
				</div>
				<div class="col-xs-12 col-sm-6 text-center">
					Julien Roux
				</div>
			</div>
			<div class="col-xs-6">
				<h1 class="text-center blue">Other links</h1>
				<div class="col-xs-12 col-sm-6 text-center">
					<h2>Android app</h2>
					TODO
				</div>
				<div class="col-xs-12 col-sm-6 text-center">
					<h2>Telnet app</h2>
					Host :  sd-44145.dedibox.fr<br/>
					Port : 5000 <br/>
					Command : <b>quickies</b>, <b>cat</b>
				</div>
			</div>
		</div>
		<div class="footer">
			<div id="twitter"></div>
		</div>
	
		
	  	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/date-format.js"></script>
		
		<!-- TWITTER -->
		<script type="text/javascript" src="/bower_components/twitter-fetcher/js/twitterFetcher_min.js"></script>
		<script type="text/jsx" src="/js/components/twitter_wall.js"></script>
		<script type="text/jsx">
			React.render(
				<TwitterWall domId="twitter" pollInterval="10000" />,
 				document.getElementById('twitter')
			);
		</script>
	</body>
</html>