<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
	<head th:fragment="common-header">
		<title>UG Quickies Challenge</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
	    
		<meta th:if="${quicky != null}" property="og:site_name" content="JUG Quicky Challenge"/>
	    <meta th:if="${quicky != null}" property="og:title" th:content="${quicky.title}" />
		<meta th:if="${quicky != null}" property="og:url" th:content="'http://sd-44145.dedibox.fr:8090/quicky/' + ${quicky.id}" />
		<meta th:if="${quicky != null}" property="og:image" content="http://sd-44145.dedibox.fr:8090/img/ads_banner/kitten_0.gif" />
		<meta th:if="${quicky != null}" property="og:description" th:content="${quicky.description}" />
	
		<link rel="icon" href="favicon.ico" />
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700'  />
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/less" href="/bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/less" href="/css/bootstrap.theme.less" />
		<link rel="stylesheet" type="text/less" href="/css/style.less" />
		
		<!--[if lt IE 9]>
		    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
		<![endif]-->
		
		<script type="text/javascript" src="/bower_components/less/dist/less.min.js"></script>
		<script src="/bower_components/react/react.js"></script>
	    <script src="/bower_components/react/JSXTransformer.js"></script>
	</head>
</html>