<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body th:fragment="navbar">
	<nav class="navbar navbar-default" role="navigation">
  		<div class="container-fluid">
		   <div class="navbar-header">
		     <a class="navbar-brand" th:href="@{/}">JUG Quickies</a>
		     <button th:if="${#httpServletRequest.remoteUser == null}" type="button" class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#myModal">Sign in</button>
		     <form sec:authorize="hasRole('USER_ROLE') || hasRole('ADMIN_ROLE')" th:action="@{/logout}" method="post">
		     	<button type="submit" class="btn btn-default navbar-btn pull-right">Disconnect</button>
		     </form>
		     <a sec:authorize="hasRole('USER_ROLE') || hasRole('ADMIN_ROLE')" th:href="@{/quicky/create}" class="btn btn-default navbar-btn pull-right" style="margin-right: 5px;">
		     	<span class="glyphicon glyphicon-pencil"></span>
		     </a>
		     <a sec:authorize="hasRole('ADMIN_ROLE')" th:href="@{/admin}" class="btn btn-default navbar-btn pull-right" style="margin-right: 5px;">
		     	<span class="glyphicon glyphicon-cog"></span>
		     </a>
		     <div sec:authorize="hasRole('USER_ROLE') || hasRole('ADMIN_ROLE')"  class="navbar-user pull-right" th:inline="text">
		     	Connected as 
		     	<a th:href="@{/profile}">
		     		[[${#httpServletRequest.remoteUser}]]
		     	</a>
		     </div>
		   </div>
  		</div>
  	</nav>
  	<div th:replace="common/sign-in :: sign-in-form"></div>
</body>
</html>