<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sign-in-form">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	  <div class="modal-dialog">
  	    <div class="modal-content">
  	      <div class="modal-header">
  	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  	        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
  	      </div>
  	      <div class="modal-body">
  	      	<div id="errors" class="text-center errors" style="display:none; color: red; font-weigth: bold">
	            <span class="glyphicon glyphicon-warning-sign"></span>
	        </div>
	     
  	        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Use my existing account
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <form  class="form-horizontal" role="form" th:action="@{/login}" method="POST" id="loginForm">
					  <div class="form-group">
					    <label for="email" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" name="email" placeholder="Email" />
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="password" class="col-sm-2 control-label">Password</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" name="password" placeholder="Password" />
					    </div>
					  </div>
			        </form>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Create an account
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <form class="form-horizontal" role="form" th:action="@{/user}" method="POST" id="createUser">
						  <div class="form-group">
						    <label for="email" class="col-sm-2 control-label">Email</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control" name="email" placeholder="Email" />
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="password" class="col-sm-2 control-label">Password</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" name="password" placeholder="Password" />
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" name="confirmPassword" placeholder="Password" />
						    </div>
						  </div>
						</form>
			      </div>
			    </div>
			  </div>
			</div>
  	      </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  	        <button type="button" class="btn btn-primary" onclick="handleClick()">Sign in</button>
  	      </div>
  	    </div>
  	  </div>
  	</div>
  	
  	<script>
  		//<![CDATA[
	  	function handleClick() {
	  		var form = $('#accordion .collapse.in form');
	  		var email = $('#accordion .collapse.in input[name="email"]');
	  		var password = $('#accordion .collapse.in input[name="password"]');
	  		var confirm = $('#accordion .collapse.in input[name="confirmPassword"]');
	  		var csrf = $('#accordion .collapse.in input[name="_csrf"]');
	  		var action = form.attr('action');
	  		
	  		var errors = '';
	  		$('#errors').html('');
	  		
	  		if (confirm.attr('name') && confirm.val() != password.val()) {
	  			errors += 'Passwords must match<br/>';
	  		}
	  		if (!email.val()) {
	  			errors += 'Email is required<br/>';
	  		}
	  		if (!password.val()) {
	  			errors += 'Password is required<br/>';
	  		}
	  		
	  		if (errors.length > 0) {
	  			$('#errors').html(errors).show();
	  			return false;
	  		}
	  		
  			$.post(action,
 					{
 						email: email.val(),
 						username: email.val(),
 						password: password.val(),
 						_csrf: csrf.val()
 					}
  			).fail(function(data, status) {
  				var message = data.responseJSON.message ?  ' : ' + data.responseJSON.message : '';
  				$('#errors').html('Authentication failed' + message).show();
  			}
  			).done(function(data) {
  				window.location.href= '/profile';
  			});	
	  	}
	  	//]]>
  	</script>
</body>
</html>