<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sign-in-form">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  	  <div class="modal-dialog">
  	    <div class="modal-content">
  	      <div class="modal-header">
  	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  	        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
  	      </div>
  	      <div class="modal-body">
  	      	<div id="errors" class="text-center errors" style="display:none; color: red; font-weigth: bold">
	            <span class="glyphicon glyphicon-warning-sign"></span> Oh no ! Authentication failed !
	        </div>
	     
  	        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Use my existing account
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <form  class="form-horizontal" role="form" th:action="@{/login}" method="POST" id="loginForm">
					  <div class="form-group">
					    <label for="username" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" name="username" placeholder="Email" />
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="password" class="col-sm-2 control-label">Password</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" name="password" placeholder="Password" />
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <div class="checkbox">
					        <label>
					          <input type="checkbox" /> Remember me
					        </label>
					      </div>
					    </div>
					  </div>
			        </form>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Create an account
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <form class="form-horizontal" role="form" th:action="@{/user}" method="POST" id="createUser">
						  <div class="form-group">
						    <label for="email" class="col-sm-2 control-label">Email</label>
						    <div class="col-sm-10">
						      <input type="email" class="form-control" name="email" placeholder="Email" />
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="password" class="col-sm-2 control-label">Password</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" name="password" placeholder="Password" />
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="inputPassword4" class="col-sm-2 control-label">Confirm Password</label>
						    <div class="col-sm-10">
						      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" />
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-sm-offset-2 col-sm-10">
						      <div class="checkbox">
						        <label>
						          <input type="checkbox" /> Remember me
						        </label>
						      </div>
						    </div>
						  </div>
						</form>
			      </div>
			    </div>
			  </div>
			</div>
  	      </div>
  	      <div class="modal-footer">
  	        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="close()">Close</button>
  	        <button type="button" class="btn btn-primary" onclick="handleClick()">Sign in</button>
  	      </div>
  	    </div>
  	  </div>
  	</div>
  	
  	<script>
	  	function handleClick() {
	  		var form = $('#accordion .collapse.in form');
	  		var username = $('#accordion .collapse.in input[name="username"]');
	  		var password = $('#accordion .collapse.in input[name="password"]');
	  		var csrf = $('#accordion .collapse.in input[name="_csrf"]');
	  		var action = form.attr('action');
	  		
  			$.post(action,
 					{
 						username: username.val(),
 						password: password.val(),
 						_csrf: csrf.val()
 					}
  			).fail(function(data, status) {
  				$('#errors').show();
  			}
  			).done(function() {
  				location.reload(true);
  			});	
	  	}
	  	function close() {
	  		$('#errors').hide();
	  	}
  	</script>
</body>
</html>