<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
	<head th:include="common/header :: common-header"></head>
<body>
	<nav class="navbar navbar-default" role="navigation">
  		<div class="container-fluid">
		   <div class="navbar-header">
		    <a class="navbar-brand" href="#">JUG Quickies</a>
			<button type="button" class="btn btn-default navbar-btn pull-right">Disconnect</button>
		    <div class="navbar-user pull-right">Connected as <a href="/users/0/detail">Florian</a></div>
		     
		   </div>
  		</div>
  	</nav>
  	
	<div>
		There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
	</div>
	
	<div th:text="${message}">Fake content</div>
</body>
</html>