

<a href="/accounts">/accounts</a><br />
<a href="/quickies">/quickies</a><br />


        <form method="post" action="/account/save">
            <input type="text" name="name" id="name" /><br />
            Message: <input type="text" name="message" id="message" /><br />
            Item 1: <input type="text" name="thelist" id="thelist" /><br />
            Item 2: <input type="text" name="thelist" id="thelist" /><br />
            <input type="submit" value="Submit" />
        </form>