<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    
	<head th:include="common/header :: common-header"></head>
	<body>
		<nav th:replace="common/navbar :: navbar"></nav>
	  	<div class="container">
			<!-- CONTENT REACT -->
	  		<div class="row" id="content"></div>
	  	</div>
	
		<div th:replace="common/footer :: common-footer"></div>
		
		<!-- REACT COMPONENTS -->
		<script type="text/jsx" src="js/components/top3.js"></script>
		<script type="text/jsx" src="js/components/carousel.js"></script>
		
		<!-- REACT MAIN -->
		<script type="text/jsx" src="js/pages/index.js"></script>
		
		
	</body>
</html>